<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <partial name="_BrandLogo" />
    <div class="sidebar">
        <partial name="_SidebarUserPanel" />
        <partial name="_SidebarSearchForm" />
        <partial name="_SidebarMenu" />
    </div>
</aside>
